body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.chat-display-wrapper{
	display: none;
}

.room-selection-wrapper{
	display: none;
}

#chat-display{
	resize: none;
}
